@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('☺'), url('../fonts/Gilroy-Regular.woff') format('woff'), 
    url('../fonts/Gilroy-Regular.ttf') format('truetype'),
    url('../fonts/Gilroy-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'),
     url('../fonts/Gilroy-Bold.ttf') format('truetype'), 
     url('../fonts/Gilroy-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.eot');
	src: local('☺'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
     url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'),
      url('../fonts/Gilroy-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}


@font-face {
	font-family: 'ChronicleDisp';
	src: url('../fonts/ChronicleDisp-Semibold.eot');
	src: local('☺'), url('../fonts/ChronicleDisp-Semibold.woff') format('woff'), 
    url('../fonts/ChronicleDisp-Semibold.ttf') format('truetype'),
     url('../fonts/ChronicleDisp-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 80px;
    color: #fff;
}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%),url("../images/HG.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header:before {
    content: '';
    background-image: url(../images/MG.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 465px;
    left: 0;
    height: 95%;
    width: 100%;
}

header:after {
    content: '';
    background-image: url(../images/VG.png);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 750px;
    left: 0;
    height: 70%;
    width: 100%;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 200px;
}

.logo{
    font-family: 'Chronicle Display';
    font-size: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.nav {
    display: flex;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.nav__tab {
    margin-left: 40px;
}

.nav__tab:first-child {
    margin-left: 0;
}

.account {
    display: flex;
    align-items: center;
}

.account__text{
    margin: 10px;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1760px;
    padding: 0 80px 0 50px;
}

.follow__us{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 63px;
}

.folow_us__text{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transform: rotate(90deg);
}

.instagram__icon{
    height: 18px;
    margin-top: 50px;
}

.twitter__icon{
    height: 18px;
    margin-top: 30px;
}

.intro__suptitle{
    color:#FBD784;
    width: 316px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 100px;
    position: relative;
}

.intro__suptitle::before{
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #FBD784;
}

.intro__title{
    font-family: Chronicle Display;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 950px;
    height: 200px;
}

.scroll__down{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.intro__navigation{
    width: 94px;
    height: 22px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 10px;
}

.slider{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 55px;
    padding: 0px;
    width: 42px;
    height: 208px;
}

.slider__item{
    padding: 10px 30px;
    text-align: right;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-family: Gilroy;
    line-height: 22px;
    /*margin-bottom: 30px;*/
    border-right: 3px solid rgba(255, 255, 255, 0.5);
}

.slider__item.active{
    border-right: 3px solid rgba(255, 255, 255, 1);
}

.main {
    position: relative;
    top: 400px;
    background: rgba(11, 29, 38, 1);
}

.main:after {
    content: "";
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    background-size: cover;
    width: 100%;
    height: 300px;
    top: -200px;
    position: absolute;
}

.main__inner{
    display: flex; 
    padding-top: 120px;
    justify-content: space-around;
    align-items: center;
}

.read__more{
    display: flex;
    flex-direction: row;
}

.num{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    position: absolute;
}

.main__info__filling{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 120px;
    height: 439px;
    width: 630px;
    position: relative;
    top:100px;
}

.main__suptitle{
    width: 172px;
    height: 22px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FBD784;
    position: relative;
    margin-bottom: 30px;
    padding-left: 100px;
}

.main__suptitle::before{
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #FBD784;
}

.main__title{
    width: 555px;
    height: 154px;
    font-family: Chronicle Display;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.info{
    width: 632px;
    height: 160px;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.main__navigation{
   margin-right: 16px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
}



.main__suptitle__second{
    width: 258px;
    height: 22px;
    font-family: Gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FBD784;
    position: relative;
    margin-bottom: 30px;
    padding-left: 100px;
}

.main__suptitle__second::before{
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #FBD784;
}

.main__suptitle__third{
    width: 358px;
    height: 22px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FBD784;
    position: relative;
    margin-bottom: 30px;
    padding-left: 100px;
}

.main__suptitle__third::before{
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #FBD784;
}

.footer{
    position: relative;
    top: 400px;
    background: rgba(11, 29, 38, 1);

}

.width__footer{
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
}

.first__part{
    flex-grow: 5;
    margin-left: 110px;
}

.second__part{
    flex-grow: 5;
}

.footer__navigation{
    display: flex;
    justify-content: space-around;
}

.logo__footer{
    font-family: 'Chronicle Display';
    font-size: 32px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer__text{
    width: 303px;
    height: 64px;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 122px;
}

.copy{
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 10px;
}

.footer__title{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
    margin-bottom: 25px;
}


.footer__text__navigation{
    font-family: Gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.more__on__block{
    padding-left: 40px;
}